.container {
  padding: 56px 112px;
  position: relative;

  @media screen and (max-width: 1252px) {
    padding: 54px 44px;
  }

  @media screen and (min-width: 890px) {
    height: 100vh;
  }

  @media screen and (max-width: 720px) {
    padding: 24px;
  }
}

header img {
  @media screen and (max-width: 720px) {
    width: 124.5px;
  }
}

.main {
  margin-top: 56px;

  @media screen and (min-width: 1081px) {
    max-width: 592px;
  }

  @media screen and (min-width: 891px) and (max-width: 1080px) {
    max-width: 500px;
  }

  @media screen and (min-width: 721px) and (max-width: 890px) {
    max-width: 400px;
  }

  @media screen and (max-width: 720px) {
    margin-top: 40px;
  }
}

.title {
  font-size: 40px;
  line-height: 52px;
  color: #2B364D;

  @media screen and (max-width: 720px) {
    font-size: 24px;
    line-height: 34px;
  }

  div {
    margin-bottom: 8px;
    font-size: 72px;
    line-height: 108px;
    color: #000;
  }
}

.description {
  font-size: 16px;
  line-height: 28px;
  color: #666;
  margin: 32px 0;
  font-family: "Poppins-Regular";

  @media screen and (min-width: 721px) {
    max-width: 384px;
  }

  @media screen and (max-width: 720px) {
    font-size: 14px;
    line-height: 24px;
  }
}

.button {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  color: #FFF;
  padding: 12px 24px;
  background: #F93922;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    background: #DE3922;
  }

  @media screen and (max-width: 720px) {
    padding: 8px 16px;
    font-size: 12px;
    line-height: 18px;
  }
}

.pulse-block {
  position: absolute;
  height: 696px;
  width: 696px;
  top: 0;
  right: 112px;

  @media screen and (max-width: 1252px) {
    right: 44px;
  }

  @media screen and (max-width: 1124px) {
    width: 536px;
    height: 536px;
  }

  @media screen and (max-width: 890px) {
    width: 476px;
    height: 476px;
  }


  @media screen and (max-width: 720px) {
    width: 240px;
    height: 240px;
    right: 24px;
  }

  .pulse {
    background: #F93822;
    height: 696px;
    width: 696px;
    filter: blur(500px);
    -webkit-animation: flickerAnimation 3s infinite;
    -moz-animation: flickerAnimation 3s infinite;
    -o-animation: flickerAnimation 3s infinite;
    animation: flickerAnimation 3s infinite;

    @media screen and (max-width: 1124px) {
      width: 536px;
      height: 536px;
    }

    @media screen and (max-width: 890px) {
      width: 476px;
      height: 476px;
    }

    @media screen and (max-width: 720px) {
      width: 240px;
      height: 240px;
      filter: blur(250px);
    }
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (max-width: 720px) {
      width: 56px;
      height: 56px;
    }

  }

}

.socials {

  @media screen and (min-width: 721px) {
    position: absolute;
    bottom: 112px;
    right: 224px;
  }

  @media screen and (max-width: 890px) {
    right: 124px;
  }

  @media screen and (max-width: 720px) {
    display: flex;
    margin-top: 45px;
  }

  .item {
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 36px;
    color: #2B364D;
    cursor: pointer;

    @media screen and (min-width: 721px) {
      &:first-child {
        margin-bottom: 32px;
      }

      .youtube-mobile, .linkedin-mobile {
        display: none;
      }
    }

    @media screen and (max-width: 720px) {
      padding: 12px 0 12px 12px;
      font-size: 16px;
      line-height: 24px;

      &:first-child {
        margin-right: 52px;
      }

      .youtube-mobile, .linkedin-mobile {
        margin-right: 24px;
      }

      .youtube, .linkedin {
        display: none;
      }
    }

    &:hover {
      div {
        @media screen and (min-width: 721px) {
          border-bottom: 3px solid #2B364D;
        }
      }
    }

    div {
      @media screen and (min-width: 721px) {
        margin-left: 12px;
        border-bottom: 3px solid transparent;
      }
    }
  }
}

/*
 * Stackoverflow animation
 * https://stackoverflow.com/a/23985078/7003620
 */
@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
